{% extends "layout.html" %}
{% block sidebar %}{% include [suite + "/sidebar.html", "generic/sidebar.html"] %}{% endblock %}
{% block page_title %}{{ suite }} Packages - Candidates{% endblock %}
{% block body %}
<div class="section" id="candidates">
<h1>{{ suite }} packages - Candidates</h1>

<ul>
{% for package, value in candidates %}
<li><a href="/{{ suite }}/pkg/{{ package }}">{{ package }}</a></li>
{% endfor %}
</ul>

</div>
{% endblock %}
