<p>Attempting to access the packaging branch resulted in a HTTP
<b>401 Unauthorized</b> error. This can indicate that the repository is
private, that accessing it may require log in, or that it simply does not
exist.</p>

<p>This can happen due to Breezy not sending credentials to GitLab
repositories. See
<a href="https://salsa.debian.org/jelmer/janitor/issues/19">this bug</a>
for details.</p>

<p>Another possibility is that this is actually a 404 in disguise. You can
update the Vcs location on
<a href="https://qa.debian.org/cgi-bin/vcswatch?{% if run %}package={{ run.package }}{% endif %}">vcswatch</a>.
</p>
