{% extends "layout.html" %}
{% block sidebar %}{% include "cupboard/sidebar.html" %}{% endblock %}
{% block page_title %}Review{% endblock %}
{% block body %}
<div class="section" id="review">
<h1>Review</h1>

<p>All done!</p>

</div>
{% endblock %}
